Repository filecoin-project/lotus, changes with the owners that .github/CODEOWNERS names for each.
All owners: @magik6k, @whyrusleeping, @Kubuxu, @raulk

.github/CODEOWNERS:

## filecoin-project/lotus CODEOWNERS
## Refer to https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners.
##
## These users or groups will be automatically assigned as reviewers every time
## a PR is submitted that modifies code in the specified locations.
##
## The Lotus repo configuration requires that at least ONE codeowner approves
## the PR before merging.

### Global owners.
*                       @magik6k @whyrusleeping @Kubuxu

### Conformance testing.
conformance/            @raulk
extern/test-vectors     @raulk
cmd/tvx                 @raulk

Lotus version 1.4.0
  CHANGELOG.md
  build/version.go
Owners: @magik6k, @whyrusleeping, @Kubuxu

update weight canSeal and canStore when attach
  extern/sector-storage/stores/index.go
Owners: @magik6k, @whyrusleeping, @Kubuxu

fix(sync): enforce ForkLengthThreshold for synced chain (#5182)
  chain/sync.go
Owners: @magik6k, @whyrusleeping, @Kubuxu

fix(sync): enforce fork len when changing head
  chain/store/store.go
Owners: @magik6k, @whyrusleeping, @Kubuxu

Update SECURITY.md
  SECURITY.md
Owners: @magik6k, @whyrusleeping, @Kubuxu

Update SECURITY.md (#5246)
  SECURITY.md
Owners: @magik6k, @whyrusleeping, @Kubuxu

fullnode actor cmd
  cli/actor.go
  cli/cmd.go
Owners: @magik6k, @whyrusleeping, @Kubuxu

Update sched_worker.go
  extern/sector-storage/sched_worker.go
Owners: @magik6k, @whyrusleeping, @Kubuxu

add fund sufficient check in send
  cli/send.go
Owners: @magik6k, @whyrusleeping, @Kubuxu

update return error
  cli/send.go
Owners: @magik6k, @whyrusleeping, @Kubuxu

Buffered stream for chainxchg response
  chain/exchange/server.go
Owners: @magik6k, @whyrusleeping, @Kubuxu

correct flag usages for replace cmd
  cli/mpool.go
Owners: @magik6k, @whyrusleeping, @Kubuxu

tvx extract: more tipset extraction goodness.
  cmd/tvx/exec.go
  cmd/tvx/extract.go
  cmd/tvx/extract_message.go
  cmd/tvx/extract_tipset.go
  cmd/tvx/main.go
  cmd/tvx/simulate.go
  cmd/tvx/stores.go
  conformance/corpus_test.go
  conformance/driver.go
  conformance/runner.go
Owners: @raulk

add value for all method
  cli/send.go
Owners: @magik6k, @whyrusleeping, @Kubuxu

add verbose for list transfers
  cli/client.go
  cmd/lotus-storage-miner/market.go
Owners: @magik6k, @whyrusleeping, @Kubuxu

fix: stores.FetchHandler: defer close file and increase buffer size
  extern/sector-storage/stores/http_handler.go
Owners: @magik6k, @whyrusleeping, @Kubuxu

update guessgas
  chain/messagepool/gasguess/guessgas.go
  chain/messagepool/messagepool_test.go
  chain/messagepool/repub_test.go
  chain/messagepool/selection_test.go
Owners: @magik6k, @whyrusleeping, @Kubuxu

use deal duration from actor
  build/params_shared_vals.go
  build/params_testground.go
  chain/actors/policy/policy.go
  cli/client.go
Owners: @magik6k, @whyrusleeping, @Kubuxu

Gavin fixed the issue5267 which runworker can cause dead lock
  extern/sector-storage/sched_worker.go
Owners: @magik6k, @whyrusleeping, @Kubuxu

when use lotus state call method, in lotus/cli/state.go 1620 line, the paramObj needs struct type not a ptr type, if use a ptr type, the program will panic in line 1621(paramObj.NumField())
  cli/state.go
Owners: @magik6k, @whyrusleeping, @Kubuxu

clear struct param for same style
  api/apistruct/struct.go
Owners: @magik6k, @whyrusleeping, @Kubuxu

fix network version
  chain/stmgr/stmgr.go
Owners: @magik6k, @whyrusleeping, @Kubuxu

update NewestNetworkVersion
  build/params_shared_vals.go
  build/params_testground.go
Owners: @magik6k, @whyrusleeping, @Kubuxu

Snake a context through the Chain-blockstore creation
  chain/gen/gen.go
  cmd/lotus-shed/balances.go
  cmd/lotus-shed/export.go
  cmd/lotus-shed/import-car.go
  cmd/lotus-shed/pruning.go
  cmd/lotus/daemon.go
  node/modules/chain.go
  node/repo/fsrepo.go
  node/repo/interface.go
  node/repo/memrepo.go
Owners: @magik6k, @whyrusleeping, @Kubuxu

Fix forgotten test-call
  chain/store/store_test.go
Owners: @magik6k, @whyrusleeping, @Kubuxu

Create a calibnet build option
  Makefile
  build/bootstrap.go
  build/bootstrap/calibnet.pi
  build/bootstrap/mainnet.pi
  build/genesis.go
  build/genesis/calibnet.car
  build/genesis/mainnet.car
  build/params_2k.go
  build/params_calibnet.go
  build/params_testground.go
Owners: @magik6k, @whyrusleeping, @Kubuxu

Remove LOTUS_DISABLE_V2_ACTOR_MIGRATION envvar
  build/params_2k.go
  build/params_mainnet.go
  cmd/tvx/codenames_test.go
Owners: @magik6k, @whyrusleeping, @Kubuxu, @raulk

fix: better withdrawal error message
  chain/market/fundmanager.go
Owners: @magik6k, @whyrusleeping, @Kubuxu

Fix race in blockstore test suite
  lib/blockstore/badger/blockstore_test_suite.go
Owners: @magik6k, @whyrusleeping, @Kubuxu

go fmt
  cmd/chain-noise/main.go
Owners: @magik6k, @whyrusleeping, @Kubuxu

update realdoit to force
  cli/send.go
Owners: @magik6k, @whyrusleeping, @Kubuxu

update json format
  cmd/lotus-bench/main.go
Owners: @magik6k, @whyrusleeping, @Kubuxu

adjust mingas
  chain/messagepool/gasguess/guessgas.go
Owners: @magik6k, @whyrusleeping, @Kubuxu

fix: format fund manager message fil amounts
  chain/market/fundmanager.go
Owners: @magik6k, @whyrusleeping, @Kubuxu

add maxfee limit for mpool replace
  cli/mpool.go
Owners: @magik6k, @whyrusleeping, @Kubuxu

feat: lotus wallet market add (adds funds to storage market actor)
  api/api_full.go
  api/apistruct/struct.go
  cli/wallet.go
  documentation/en/api-methods.md
  node/impl/market/market.go
Owners: @magik6k, @whyrusleeping, @Kubuxu

Skip bootstrapping if no peers specified
  build/bootstrap.go
Owners: @magik6k, @whyrusleeping, @Kubuxu

Update FIL format
  cli/send.go
Owners: @magik6k, @whyrusleeping, @Kubuxu

if force specified will not check insufficient fund
  cli/send.go
Owners: @magik6k, @whyrusleeping, @Kubuxu

feat: cli - rename client info to client balances
  cli/client.go
Owners: @magik6k, @whyrusleeping, @Kubuxu
