Repository filecoin-project/lotus, pull requests merged in 2020-05, with the labels that each got.

#1731 Documentation updates and fixes
  documentation/en/.library.json
  documentation/en/dev-tools.md
  documentation/en/faqs.md
  documentation/en/getting-started.md
  documentation/en/join-testnet.md
  documentation/en/miner-deals.md
  documentation/en/mining.md
  documentation/en/setup-troubleshooting.md
  documentation/en/storing-data.md
  documentation/en/updating-lotus.md
Labels: documentation

#1745 Docs finishing touches
  documentation/en/.library.json
  documentation/en/api-scripting-support.md
  documentation/en/storing-ipfs-integration.md
  go.sum
Labels: documentation

#1770 Add an interop test for block header serialisation
  chain/types/blockheader_test.go
Labels: testing

#1728 return correct exit codes from vm transfer
  chain/vm/runtime.go
  chain/vm/vm.go
Labels: RFM

#1786 Prevent client list-deals from crashing
  cli/client.go
Labels: cli, ux

#1819 Switch to new drand client
  Makefile
  build/params_shared.go
  chain/beacon/drand/drand.go
  chain/beacon/drand/drand_test.go
  chain/gen/gen.go
  go.mod
  go.sum
  storage/wdpost_run.go
Labels: fork_required

#1846 cli: Trim spaces from token file
  node/repo/fsrepo.go
Labels: ux

#1852 Update systemd usage and docs
  Makefile
  documentation/en/install-systemd-services.md
  scripts/lotus-daemon.service
Labels: documentation

#1749 add some commands for interacting with verified registry actor to lot…
  cmd/lotus-shed/main.go
  cmd/lotus-shed/verifreg.go
Labels: cli

#1861 Correctly handle transfers with sender = receiver
  chain/vm/vm.go
  go.mod
  go.sum
Labels: fork_required

#1872 Fix broken link
  documentation/en/api.md
Labels: documentation

#1855 Add systemd documention to table of contents
  Makefile
  documentation/en/.library.json
  documentation/en/install-systemd-services.md
  scripts/lotus-daemon.service
Labels: documentation
